@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
#downloadButton {
    transition: opacity 0.3s ease;
    opacity: 0;
}
#downloadButton.show {
    opacity: 1;
}